
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/test.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    
    <title>Community - Connect Alumni and students!</title>
  </head>

  <body>
    
    
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
    </ul>

    {% endif %}

    {% block content %}


    {% endblock %}





    <!-- Chatbot HTML
    <div class="chatbot-container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message..." class="send__input">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{% static 'images/icons/chatbox-icon.svg' %}" /></button>
            </div>
        </div>
    </div> -->

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>













{% comment %} <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBud</title>
    <link rel="stylesheet" type='text/css' media='screen' href="{% static 'styles/main.css' %}">   
</head>
<body>
    

    
    
    
</body>
</html> {% endcomment %}